<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :password_digest %>
    <%= form.password_field :password_digest %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :favorite_team %>
    <%= form.select :favorite_team, {'ENEOS サンフラワーズ': 1, '富士通 レッドウェーブ': 2, 'シャンソンVマジック': 3, '東京羽田ヴィッキーズ': 4, '日立ハイテク クーガーズ': 5, '新潟アルビレックスＢＢラビッツ': 6,'トヨタ自動車 アンテロープス': 7,'トヨタ紡織 サンシャインラビッツ': 8,'デンソー アイリス': 9,'三菱電機 コアラーズ': 10,'山梨クィーンビーズ': 11,'アイシン・エィ・ダブリュウィングス': 12}, { include_blank: '選択してください'}, { class: 'form-control' , required: true } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
